body {
    background-color: peachpuff;
}


.toast {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#Home,
h1,
.list  {
    text-align: center;

}

#Description {
    text-decoration: underline;
    text-align: center;
}
