body {
    background-color: peachpuff;
}

h1 {
    text-align: center;

}

#Description {
    padding-left: 25px;
    padding-right: 25px;

}

h2 {
    text-align: center;
    text-decoration: underline;
}

.list {
    text-align: center;

}

.chicken {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Home {
    text-align: center;
}